* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
}

.App {
  font-family: sans-serif;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
}

h3 {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 20px;
}


h2 {
  font-size: 1rem;
  line-height: 1.4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

nav > button {
  background: transparent;
  color: black;
  border: none;
}

